:root {
    --main-font: "Fredoka", sans-serif;
}

body {
    width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    #AFB8BD 30%,
    #C9DFE5 0%,
    #C9DFE5 50%,
    #C9DFE5 100%
  );
}

.good {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #C9DFE5 0%,
    #C9DFE5 50%,
    #AFB8BD 50%,
    #AFB8BD 100%
  );
}

.bad {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #AFB8BD 0%,
    #AFB8BD 50%,
    #C9DFE5 50%,
    #C9DFE5 100%
  );
}


h1 {
    font-family: var (--main-font);
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 250%;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #FFFFFF;
    -webkit-text-stroke: 2px #c7501d;
    padding-left: 15%;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align:;
}

h3 {
  color: #c7501d;
}


.navbar {
  background-color: #C9DFE5;
  border: 5px solid #2f427c;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 150%;
  background-color: #727A94;
  border: 4px solid #2f427c;
  border-radius: 25px;
}

.navbar a:hover {
  background-color: #2f427c;
  color: #f2f2f2;
}

.standard {
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}

.skeu {
  border: 2px solid #3b3f4d;
  border-radius: 5px;
  color: #F8F8F8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: linear-gradient(#727A94, #3b3f4d);
  text-shadow: 0 -2px #22242c;
}

.skeu:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #727A94;
  background: linear-gradient(#01258D, #041c64);
  border-color: #2f427c;
}

#flat {
  background-color: #727A94;
  color: #fff;
  border: 2px solid #2f427c;
  border-radius: 10px;
}

#flat:hover {
  background-color: #2f427c;
  transition: background-color .15s, font-size .15s;
  font-size: 30px;
}

button {
  height: 50px;
  width: 200px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
  margin-left: 20%;
  color: #FFFFFF;
  background-color: #e2622c;
  border: solid #c7501d
}

.define {
  display: block;
  color: #f2f2f2;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 110%;
  background-color: #AFB8BD;
  border: 4px solid #AFB8BD;
  border-radius: 25px;
}