:root {
    --main-font: "Fredoka", sans-serif;
}

body {
    width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    #acc1cc 20%,
    #C9DFE5 0%,
    #acc1cc 50%,
    #acc1cc 100%
  );
}

.signUp{
  background-color: #acc1cc;
}

.good {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #C9DFE5 0%,
    #C9DFE5 50%,
    #acc1cc 50%,
    #acc1cc 100%
  );
}

.bad {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #AFB8BD 0%,
    #AFB8BD 50%,
    #acc1cc 50%,
    #acc1cc 100%
  );
}


h1 {
    font-family: var (--main-font);
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 300%;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #FFFFFF;
    -webkit-text-stroke: 2px #c75d30;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align:;
}

.info {
  margin-left: 40%;
  box-shadow: 3px 5px #af542c
}

h3 {
  color: #c46841;
}

hr {
  color: #e07f55;
}

.navbar {
  background-color: #C9DFE5;
  border: 5px solid #28314d;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 150%;
  background-color: #727A94;
  border: 4px solid #28314d;
  border-radius: 25px;
}

.navbar a:hover {
  background-color: #28314d;
  color: #f2f2f2;
}

.standard {
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}

.skeu {
  border: 2px solid #28314d;
  border-radius: 5px;
  color: #F8F8F8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: linear-gradient(#727A94, #3b3f4d);
  text-shadow: 0 -2px #22242c;
}

.skeu:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #727A94;
  background: linear-gradient(#01258D, #041c64);
  border-color: #28314d;
}

#flat {
  background-color: #727A94;
  color: #fff;
  border: 2px solid #28314d;
  border-radius: 10px;
}

#flat:hover {
  background-color: #28314d;
  transition: background-color .15s, font-size .15s;
  font-size: 30px;
}

button {
  height: 50px;
  width: 200px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
  margin-left: 20%;
  color: #FFFFFF;
  background-color: #dd7346;
  border: solid #c56339
}

.define {
  display: block;
  color: #28314d;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 130%;
  background-color: #d8e3e9;
  border: 4px solid #acc1cc;
  border-radius: 25px;
  margin-right: 10%;
  box-shadow: 5px 5px #C9DFE5;
  font-family: var (--main-font);
}

.topnav {
  background-color: #28314d;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #acc1cc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  margin-right: 5%;

}

.topnav a:hover {
  background-color: #C9DFE5;
  color: black;
  border-radius: 5px;
}

.example {
  color: #ffff;
  padding: 2%;
  -webkit-text-stroke: px #c56137;

}

#myDIV {
  color: #28314d;
  font-size: large;
  font-weight: 600;
  border-radius: 25px;
  border: 2px solid #db6b3b;
  background-color: #C9DFE5;
  padding: 1% 2%;
  margin-left: 10%;
}

img {
  padding-left: 10%;
}

ul {
  background-color: #c5714e;
  padding:3%;
  margin:1%;

}

.examples {
  margin-left: 40%;
  font-size:xx-large;
}